<!DOCTYPE HTML>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h1> Welcome {{username}}</h1>
        <a href="{{url_for ('signout')}}">Sign Out</a>
    </div>
    <div>
        Search for user <br>
        <form method="POST" action="">
            <input type="text" name="search"> 
            <input type="submit" name="submit">
        </form>
    <div>
    <div><br>
        {% for detail in details %}
        <li>{{ detail }}</li>
         {% endfor %}
         {{status}}
    </div>
</body>

