<html>
	<head><title>Current Temperature</title></head>
<body>
	<h1>name  : {{ name }} </h1>
  <h1>email  : {{ email }} </h1>
  <h1>company  : {{ company }} </h1>
  <h1>location  : {{ location}} </h1>
  <h1>hireable  : {{ hireable}} </h1>
  <h1>followers: {{ followers }} </h1>
  <h1>following: {{ following }} </h1>
	<form action = "http://localhost:5000/repos" method = "get">

         <p><input type = "submit" value = "   repositories   " /></p>
      </form>


</body>
</html>
