asn1crypto==0.24.0
click==6.7
cryptography==2.1.4
enum34==1.1.6
Flask==1.0.2
idna==2.6
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
pbr==4.0.2
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
stevedore==1.28.0
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
Werkzeug==0.14.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0

